{extend "admin"}

{extend "default-entry" for="orders"}

{$order = $request.entry}
{$errors = $request.errors}

{* Get payment settings *}
{$payment_settings = "/settings/payments"|get}

<div class="view-container">
	<div class="view-header well">
		<h2>{if $order.billing}Edit{else}Complete{/if} billing <small>/ Order #{$order.id}</small></h2>
		<div class="actions">
			<a class="btn view-cancel" href="">&times;</a>
		</div>
	</div>
	<form class="view-body edit" method="post" action="/orders/billing/{$order.id}">
		{render "messages"}
		<div class="view-content">
			<fieldset>
				<div class="row">
					<div class="field control-group span3">
						<label>Billing method <span class="error">{$errors.billing.method}</span></label>
						<select name="order[billing][method]" class="billing_method">
							<option value="none">None</option>
							{foreach $payment_settings as $method => $settings}
								{* Restrict billing method to certain account role(s)? *}
								{if $settings.roles|is_array && (($order.account.roles|is_array && !$order.account.roles|array_intersect:$settings.roles) || !$order.account.roles|is_array && ($order.billing.method != $method))}
									{continue}
								{/if}
								{$selected = (!$order.billing.method && $settings@first) || ($order.billing.method == $method)}
								<option value="{$method}" {if $selected}selected="selected"{/if}>{$settings.name|default:$method|ucfirst}</option>
							{/foreach}
						</select>
					</div>
				</div>
			</fieldset>
			<fieldset class="billing_method card {if $order.billing.method != "card"}hidden{/if}">
				{if $order.billing.card}
					{$card = $order.billing.card}
					<h4><span class="label label-success">
						Card on file:
						{$card.type|escape}
						{$card.last4|escape}
						(Expires: {$card.exp_month|escape}/{$card.exp_year|escape})
					</span></h4>
				{else}
					<h4>Add credit card to order</h4>
				{/if}
				<div class="row">
					<div class="field control-group span3">
						<label>Credit card number</label>
						<input type="text" class="cardnum" autocomplete="off"
							data-default-name="order[billing][card][number]" />
					</div>
				</div>
				<div class="row">
					<div class="field control-group span1">
						<label>Expire date</label>
						<input type="text" class="cardexp_month" autocomplete="off" placeholder="MM"
							data-default-name="order[billing][card][exp_month]" />
					</div>
					<div class="field control-group span1">
						<label>&nbsp;</label>
						<input type="text" class="cardexp_year" autocomplete="off" placeholder="YYYY"
							data-default-name="order[billing][card][exp_year]" />
					</div>
					<div class="field control-group span1">
						<label>CVC code</label>
						<input type="text" class="cardcode" autocomplete="off"
							data-default-name="order[billing][card][cvc]" />
					</div>
				</div>
			</fieldset>
			<fieldset class="billing_method invoice {if $order.billing.method != "invoice"}hidden{/if}">
				{* No fields needed for invoice? *}
			</fieldset>
			<fieldset class="billing_method card invoice">
				<div class="row">
					<div class="field control-group span3">
						<label>Billing name <span class="error">{$errors.billing.name}</span></label>
						<input type="text" name="order[billing][name]" class="name" value="{$order.billing.name|default:$order.account.name}" />
					</div>
				</div>
				<div class="row">
					<div class="field control-group span2">
						<label>Billing address <span class="error">{$errors.billing.address}</span></label>
						<input type="text" name="order[billing][address]" class="address" value="{$order.billing.address|default:$order.shipping.address|default:$order.account.last_order.billing.address}" />
					</div>
					<div class="field control-group span1">
						<label>Zip <span class="error">{$errors.billing.zip}</span></label>
						<input type="text" name="order[billing][zip]" class="zip" value="{$order.billing.zip|default:$order.shipping.zip|default:$order.account.last_order.billing.zip}" />
					</div>
				</div>
			</fieldset>
		</div>
		<div class="view-footer actions">
			<input type="hidden" name="order[:recalc]" value="true" />
			<button type="submit" class="btn btn-primary">Save billing</button>
			<button type="button" class="btn view-back">Cancel</button>
		</div>
	</form>
</div>

<script type="text/javascript">

	// Change billing method.
	$('form.edit select.billing_method').change(function ()
	{
		$('form.edit fieldset.billing_method').hide().find('input, textarea, select').attr('disabled', true);
		
		if ($(this).val() != "")
		{
			$('form.edit fieldset.billing_method.'+$(this).val()).show().find('input, textarea, select').attr('disabled', false);
		}
		
		$('#view').trigger('resize');
	})
	.trigger('change');
	
</script>

{* If Stripe is the default gateway, use Stripe.js *}
{if $payment_settings.card.gateway == stripe}

	{* Get publishable key from payment settings *}
	{$publishable_key = $payment_settings.card.publishable_key}
	
	<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
	<script type="text/javascript">
	
		// Submit edit order.
		$('form.edit').submit(function ()
		{
			$form = $(this);
			
			// Form locked?
			if (window.form_locked)
			{
				return false;
			}
			
			// Clear field errors.
			$form.find('input, select, textarea').trigger('error_clear');
			
			// Loading animation.
			$('#view .view-content').addClass('loading');
				
			$loader = $('#view .loader');
			
			if ($loader.length == 0)
			{
				$loader = $('<div class="loader"></div>').appendTo('#view');
			}
			
			$loader.spin({
				speed: 3,
				length: 5,
				width: 2,
				radius: 6
			});
			
			var card = {
				number: $form.find('input.cardnum').val(),
				cvc: $form.find('input.cardcode').val(),
				exp_month: $form.find('input.cardexp_month').val(),
				exp_year: $form.find('input.cardexp_year').val(),
				name: $form.find('input.name').val(),
				address_line1: $form.find('input.address').val(),
				address_zip: $form.find('input.zip').val()
			};
			
			// Any field will trigger token request.
			if (card.number || card.cvc || card.exp_month || card.exp_year)
			{
				// Need stripe?
				if (!$form.data('stripe') || $form.data('card') != $.param(card))
				{
					// Stripe identity.
					Stripe.setPublishableKey('{$publishable_key}');
				
					// Validate basic inputs.
					var card_invalid = null;
					if (!Stripe.validateCardNumber(card.number))
					{
						card_invalid = 'input.cardnum';
					}
					else if (!Stripe.validateExpiry(card.exp_month, card.exp_year))
					{
						card_invalid = 'input.cardexp_month,input.cardexp_year';
					}
					else if (!Stripe.validateCVC(card.cvc))
					{
						card_invalid = 'input.cardcode';
					}
					
					// Invalid card field?
					if (card_invalid)
					{
						$form.find(card_invalid).trigger('error', ['']);
						$('#view').trigger('loaded');
					}
					else
					{
						try {
							// Get stripe.
							Stripe.createToken(card, function (status, response)
							{
								window.form_locked = false;
								
								// Error from stripe?
								if (response.error)
								{
									$form.data('stripe', null);
									
									$form.find('input.cardnum').trigger('error', ['('+response.error.message+')']);
									
									$('#view').trigger('loaded');
								}
								// Validated token!
								else
								{
									// Remember good card values.
									$form.data('card', $.param(card));
									
									// Separate stripe token from card object.
									var billing_card = response.card;
									response.card = null;
									var billing_stripe = response;
									
									// Convert/save stripe response and re-submit.
									$form.data('stripe', { order: { billing: {
										stripe: billing_stripe, card: billing_card
									}}});
									
									$form.trigger('submit');
								}
							});
							
							// Lock the form while getting stripe.
							window.form_locked = true;
						}
						catch (err)
						{
							$('#view').trigger('loaded');
							$form.find('input.cardnum').trigger('error', ['('+err+')']);
							window.form_locked = false;
						}
					}
					
					return false;
				}
			}
			
			// Add stripe data to form.
			if ($form.data('stripe'))
			{
				$form.attr('action', $form.attr('action')+'?'+$.param($form.data('stripe')));
			}
		});
	
	</script>

{else}

	{* Non-stripe credit card gateway *}
	<script type="text/javascript">
		
		// Append default field names for submission.
		$('.billing_method.card input').each(function ()
		{
			if ($(this).data('default-name'))
			{
				$(this).attr('name', $(this).data('default-name'));
			}
		});
		
	</script>
{/if}