{extend "admin"}

{* Get coupon ID by code (for debugging) *}
{if $params.order.coupon_code}
	{$coupon = get("/discounts", [code => $params.order.coupon_code, ':one' => true])}

	{*put("/discounts/{$coupon.id}", [code_used => $params.order.coupon_code, ':undo' => true])*}
{/if}

{extend "default-entry" for="orders"}

{$order = get($request.entry)}
{$errors = $request.errors}

<div class="view-container">
	<div class="view-header well">
		<h2>{if $order.discounts.coupon}Coupon{else}Add coupon{/if} <small>/ Order #{$order.id}</small></h2>
		<div class="actions">
			<a class="btn view-cancel" href="">&times;</a>
		</div>
	</div>
	<form class="view-body" method="post" action="/orders/coupon/{$order.id}">
		{render "messages"}
		<div class="view-content">
			<div class="row">
				<div class="field control-group span3">
					<label>Coupon code <span class="error">{$errors.coupon_code}</span></label>
					<input type="text" name="order[coupon_code]" value="{$params.order.coupon_code|default:$order.coupon_code}" class="focus" />
				</div>
			</div>
		</div>
		<div class="view-footer actions">
			<button type="submit" class="btn btn-primary">Save order</button>
			{if $order.coupon_code}
				<button type="button" class="btn confirm view-link" data-href="/orders/entry/{$order.id}?order[coupon_code]=" data-post="true">Remove</button>
			{/if}
			<button type="button" class="btn view-back">Back</button>
		</div>
	</form>
</div>

<script type="text/javascript">
	
	$('select.coupon').change(function ()
	{
		if ($('option:selected', this).data('code'))
		{
			$('div.row.coupon_code').show();
		}
		else
		{
			$('div.row.coupon_code').hide();
		}
		
		$('#view').trigger('resize');
	})
	.trigger('change');
	
</script>