{extend "session"}

{* Finalize order on post with cart *}
{if $request.cart.order}

	{if $request.post}
		
		{* Post cart to order *}
		{$order = "/orders"|post:[
			cart => $request.cart
		]}
		{if !$order.errors}
			
			{* Forget the cart, remember the order *}
			{$session.cart_id = null}
			{$session.cart_order_id = $order.id}
			{$session.just_completed_order = true}
			
			{* Refresh receipt *}
			{redirect "/checkout/receipt"}
		
		{else}
		
			{* Error occured *}
			{redirect "/checkout/billing"}
		{/if}
	{else}
	
		{* Order not ready *}
		{redirect "/checkout"}
	{/if}
{/if}

{* Display cart receipt with session id *}
{if $session.cart_order_id}

	{* Signal analytics conversion (used in layouts/default.html) *}
	{if $session.just_completed_order}
		{$session.just_completed_order = false}
		{$request.just_completed_order = true}
	{/if}
	
	{* Get last order *}
	{$order = get("/orders/{$session.cart_order_id}")}
{/if}

<div class="checkout-page">
	{if !$order}
	
		<h1>Order Not Found</h1>
	{else}
	
		<h1>Your purchase is complete. <small>Order #{$order.id}</small></h1>
		
		<div class="row">
			<div class="span4">
				<fieldset class="form-fieldset">
					<h4 class="form-header">Shipping Information</h4>
					<div class="row">
						<p class="form-details span4">
							{$order.name|escape}<br />
							{$order.shipping.address|escape}<br />
							{$order.shipping.city|escape}, {$order.shipping.state|escape} {$order.shipping.zip|escape}
							{if $order.shipping.country}({$order.shipping.country}){/if}
						</p>
						<p class="form-details span4">
							Method: {$order.shipping.method|escape}<br />
							E-mail: {$order.email|escape}<br />
							{if $order.phone}
								Phone: {$order.phone|escape}<br />
							{/if}
						</p>
					</div>
				</fieldset>
				<fieldset class="form-fieldset">
					<h4 class="form-header">Payment Information</h4>
					<div class="row">
						{if $order.billing.method == "card"}
							{$card = $order.billing.card}
							<p class="form-details span4">
								Name: {$order.billing.name|escape}<br />
								Card: {$card.type|escape} **** **** **** {$card.last4|escape}<br />
								Expires: {$card.exp_month|escape}/{$card.exp_year|escape}
							</p>
						{else}
							Billing method: {$order.billing.method|escape|capitalize}<br />
							<br />
							{$order.billing.name|escape}<br />
							{$order.billing.address|escape}<br />
							{if $order.billing.city}{$order.billing.city|escape},{/if}
							{if $order.billing.state}{$order.billing.state|escape}{/if}
							{$order.billing.zip|escape}
							{if $order.billing.country}({$order.billing.country}){/if}
						{/if}
					</div>
				</fieldset>
				<div class="form-actions">
					<a href="/" class="btn btn-large">Continue Shopping</a>
				</div>
			</div>
			
			{* Receipt cart items *}
			<div class="span7 offset1">
				<table class="table checkout-table" cellspacing="0">
					<tr>
						<th colspan="3">Items</th>
					</tr>
					<tbody>
					{foreach $order.items as $item}
						<tr>
							<td class="checkout-table-image">
								<img src="{image type=products id=$item.id width=40 height=40}" />
							</td>
							<td class="checkout-table-item">
								<h4 class="name">
									{$item.quantity}&times;
									<a href="/products/{$item.slug}">{$item.name}</a>
								</h4>
								{if $item.variant}
									<small class="variant">{$item.variant.name}</small>
								{/if}
								{if $item.options}
									<ul class="options">
										{foreach $item.options as $key => $option}
											<li>
												{$option.name}
											</li>
										{/foreach}
									</ul>
								{/if}
							</td>
							<td class="checkout-table-total">
								{if $item.price > 0}
									{($item.price*$item.quantity)|money}
								{else}
									&mdash;
								{/if}
							</td>
						</tr>
					{/foreach}
					
					{* Shipping method/total? *}
					{if $order.shipping.method}
						<tr class="checkout-table-subitem">
							<td class="checkout-table-item" colspan="2">
								Shipping: {$order.shipping.method|escape}
							</td>
							<td class="checkout-table-total">
								{$order.shipping_total|money}
							</td>
						</tr>
					{/if}
					
					{* Show sales tax? *}
					{if $order.tax_total}
						<tr class="checkout-table-subitem">
							<td class="checkout-table-item" colspan="2">
								{$order.cart.taxes.sales.name|default:
									$order.cart.taxes.vat.name|default:"Taxes"}
							</td>
							<td class="checkout-table-total">
								{$order.tax_total|money}
							</td>
						</tr>
					{/if}
					{* Discount code? *}
					{if $order.discounts.coupon}
						<tr class="checkout-table-subitem">
							<td class="checkout-table-item" colspan="2">
								<a class="coupon" href="" title="{$order.discounts.coupon.description|htmlspecialchars}">
									Discount {if $order.coupon_code}({$order.coupon_code}){/if}</a>
							</td>
							<td class="checkout-table-total">
								{if $order.discount_total > 0}
									{(-$order.discount_total)|money}
								{else}
									&mdash;
								{/if}
							</td>
						</tr>
					{/if}
					{* Grand total *}
					<tr class="checkout-table-subitem">
						<td class="checkout-table-item" colspan="2">
							<strong>Total</strong>
						</td>
						<td class="checkout-table-total">
							<strong>{$order.grand_total|money}</strong>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	{/if}
</div>


