<div id="browser-support">
	<h1>Microsoft Internet Explorer is not yet supported.</h1>
	<p>For now, we recommend:</p>
	<ul>
		<li><a href="http://google.com/chrome">Chrome</a></li>
		<li><a href="http://mozilla.org">Firefox</a></li>
		<li><a href="http://">Safari</a></li>
		<li><a href="http://apple.com/safari/">Opera</a></li>
	</ul>
</div>
<style>
	#browser-support {
		display: inline-block;
		background-color: whiteSmoke;
		padding: 20px 30px;
		font-family: Menlo,Monaco,"Courier New",monospace;
	}
	#browser-support h1 {
		font-size: 24px;
		padding-bottom: 10px;
		width: 380px;
	}
</style>