{extend "admin"}

{extend "default-entry" for="categories"}

{$category = $request.entry}

{* Post request? *}
{if $request.post}
	{if $params.products}
		{foreach $params.products as $id => $product}
			{* Put category specific sort order in a field like "category_sort.<category_id>" *}
			{put $product.sort in "/products/{$id}/category_sort/{$category.id}?:internal"}
		{/foreach}
	{/if}
{/if}

{* Get products (no limit for now) *}
{* Determine what the limit should be, then paginate *}
{$products = "/products"|get:[
	category_ids => $category.id,
	order => "category_sort.{$category.id} ASC",
	page => $params.page,
	limit => null
]}

<div class="view-container">
	<div class="view-header well">
		<h2>Products <small>/ {$category.name}</small></h2>
		<div class="actions">
			<a class="btn view-cancel" href="">&times;</a>
		</div>
	</div>
	<form class="view-body" method="post" action="/categories/products/{$category.id}">
		{render "messages"}
		<div class="view-content">
			
			<table class="table table-condensed table-bordered">
				{* Coming soon!
				<tr>
					<td colspan="3">
						<input type="text" name="new" value="" placeholder="Add product" />
					</td>
				</tr>*}
				<tr>
					<th>Sort</th>
					<th>Image</th>
					<th>Product</th>
				</tr>
				{foreach $products as $product}
					{$sort = $product.category_sort[$category.id]}
					<tr>
						<td width="50">
							<input type="text" style="text-align: center" name="products[{$product.id}][sort]" value="{$product@iteration}" />
						</td>
						<td class="image">
							<img src="{image for=$product width=190 height=154 padded=true default="/images/blank.png"}" />
						</td>
						<td>
							<div class="with-actions">
								{$product.name}
								{* Coming soon!
								<code class="act">
									<a class="confirm" href="">remove</a>
								</code>*}
							</div>
						</td>
					</tr>
				{/foreach}
			</table>

			{if $products.current < $products.pages|count}
				<button type="button" class="btn">Load more</button>
			{/if}

		</div>
		<div class="view-footer actions">
			<button type="submit" class="btn btn-primary">Save products</button>
			<button type="button" class="btn view-back">Back</button>
		</div>
	</form>
</div>

<script type="text/javascript">

	// Remove a product.


	// Add a product (autocomplete).


	

</script>
